.che--AnimatedContextMenu {
  &_exit.ContextMenuLevel {
    pointer-events: none;

    opacity: 0 !important;

    transition: opacity 0.2s, transform 0.2s !important;
    transform: var(--mix-dropdown-animate-transform) !important;
  }
}
