.che--VerticalMenuItem {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;

  cursor: pointer;
  text-decoration: none;

  &_active {
    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: var(--space-3xs);
      height: 100%;

      content: '';

      background: var(--color-typo-link);
    }
  }
}
