.che--Sidebar {
  &-Header {
    display: flex;
    align-items: flex-end;
    flex: none;
    justify-content: space-between;

    padding: var(--space-l) var(--space-xl);

    border-bottom: 1px solid var(--color-bg-border);
  }
}
