.che--Notifications {
  &-Popover {
    --popover-bg-color: var(--color-bg-default);
    --popover-arrow-bg-color: var(--popover-bg-color);
    position: relative;

    width: 90vw;
    max-width: 450px;

    border-radius: var(--control-radius);
    background: var(--popover-bg-color);
    box-shadow: var(--shadow-layer);
  }

  &-List {
    height: 100%;
  }
}
