.che--LayoutRow {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--space-xl);

  border-bottom: 1px solid var(--color-bg-border);
  background-color: var(--color-bg-default);

  &_height {
    &_m {
      --header-height: 60px;
    }

    &_s {
      --header-height: 40px;
    }
  }

  &-Side {
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    &_position {
      &_left {
        justify-content: flex-start;
      }

      &_right {
        justify-content: flex-end;
      }

      &_center {
        flex: 0;
        justify-content: center;
      }
    }
  }
}
