/*
свойства:
--navbar-animate-menu-rail-width - ширина меню в свернутом состоянии
--navbar-animate-menu-draver-width ширина меню в развернутом состоянии
--navbar-animate-transition-timeout - время анимации

 */

.che--NavbarMixDriverLeftAnimate {
  transition:
    opacity var(--navbar-animate-transition-timeout, 0.2s),
    transform var(--navbar-animate-transition-timeout, 0.2s);

  &_menu {
    &_rail {
      --navbar-animate-transform-exited:
        translateX(
          calc(var(--navbar-animate-menu-rail-width) * -1)
        );
      width: var(--navbar-animate-menu-rail-width);
    }

    &_draver {
      --navbar-animate-transform-exited:
        translateX(
          calc(var(--navbar-animate-menu-draver-width))
        );
      width: var(--navbar-animate-menu-draver-width);
    }
  }

  &_animate {
    &_entered,
    &_entering {
      opacity: 1;
      transform: translateX(0);
    }

    &_exiting,
    &_exited {
      position: absolute;
      opacity: 0;
      transform: var(--navbar-animate-transform-exited);
    }

    &_exiting,
    &_entering {
      pointer-events: none;
    }

    &_entering {
      position: absolute;
    }
  }
}
