.che--MegaMenu {
  --mega-menu-width: 100%;

  &_view {
    &_vertical {
      --mega-menu-direction: row;
      --mega-menu-grid-columns: 100%;

      &.che--MegaMenu_withNavBar {
        --mega-menu-grid-columns: 275px max-content;

        &.che--MegaMenu_withBannersBar {
          --mega-menu-grid-columns: 275px auto;
        }
      }

      & .che--MegaMenu-BannerBar {
        min-width: 344px;
        max-width: 344px;
      }
    }

    &_horizontal {
      --mega-menu-direction: column;
      --mega-menu-grid-columns: 100%;

      &.che--MegaMenu_withNavBar {
        --mega-menu-grid-columns: 275px auto;
      }

      & .che--MegaMenu-BannerBar {
        min-height: 216px;
        max-height: 216px;
      }
    }
  }

  &-BannerBar {
    max-height: var(--mega-menu-banners-height);
  }

  &:not(.che--MegaMenu_withGlobalMenu) {
    --mega-menu-width: max-content;
  }

  &_withNavBar {
    --mega-menu-grid-columns: 275px auto;
  }

  &-Wrapper {
    display: flex;
    overflow: auto;
    flex-direction: var(--mega-menu-direction);
    width: 100%;
    background: var(--color-bg-default);
  }

  &-Window {
    position: absolute;
    z-index: 2;
    top: var(--mega-menu-offset);
    display: grid;
    overflow: hidden;
    grid-template-columns: var(--mega-menu-grid-columns);
    flex-direction: row;
    width: 100%;
    max-width: var(--mega-menu-width);
    height: max-content;
    transition: transform 0.24s ease, opacity 0.4s;

    &_view {
      &_horizontal {
        --mega-menu-transform: translate3d(-20%, 0, 0);
      }

      &_vertical {
        --mega-menu-transform: translate3d(0, -20%, 0);
      }
    }

    &_animate {
      &_exited,
      &_exiting {
        opacity: 0;
        transform: var(--mega-menu-transform);
      }

      &_entered,
      &_entering {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-NavBar.che--NavBar {
    overflow-y: auto;
    min-width: 275px;
    max-width: 275px;
    height: auto;
    max-height: 100%;
  }

  &-Overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg-tone);

    &_animate {
      &_exited,
      &_exiting {
        opacity: 0;
      }

      &_entered,
      &_entering {
        opacity: 1;
      }

      &_exited,
      &_entered,
      &_entering,
      &_exiting {
        transition: opacity 0.24s ease;
      }
    }
  }

  &-GlobalMenu {
    overflow: overlay;
    overflow-x: hidden;
    width: 100%;
    min-width: max-content;
    max-width: 100%;
    height: max-content;
  }
}
