.che--TileMenu {
  &-List {
    display: grid;

    &_view {
      &_cards {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: var(--space-2xs);
        grid-column-gap: var(--space-2xs);
      }

      &_lines {
        grid-template-columns: repeat(1, 1fr);
      }

      &_twoLines {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: calc(var(--space-xl) + var(--space-2xs));
      }
    }
  }

  &-Popover {
    --popover-bg-color: var(--color-bg-default);
    --popover-arrow-bg-color: var(--popover-bg-color);

    width: calc(100vw - var(--space-l));
    max-width: var(--popover-max-width);

    border-radius: var(--control-radius);
    background: var(--popover-bg-color);
    box-shadow: var(--shadow-layer);

    &_view {
      &_cards {
        --popover-max-width: 320px;
      }

      &_lines {
        --popover-max-width: 520px;
      }

      &_twoLines {
        --popover-max-width: 1000px;
      }
    }
  }

  &-ListWrapper {
    overflow: hidden;

    border-radius: var(--control-radius);
  }
}
