/*
свойства:
--navbar-animate-menu-rail-width - ширина меню в свернутом состоянии
--navbar-animate-menu-draver-width ширина меню в развернутом состоянии
--navbar-animate-transition-timeout - время анимации
 */

.che--NavbarMixFadeAnimate {
  transition:
    opacity var(--navbar-animate-transition-timeout, 0.2s)
    var(--navbar-animate-opacity-fn);

  &_menu {
    &_rail {
      width: var(--navbar-animate-menu-rail-width);
    }

    &_draver {
      width: var(--navbar-animate-menu-draver-width);
    }
  }

  &_animate {
    &_entered,
    &_entering {
      --navbar-animate-opacity-fn: cubic-bezier(0.13, 0.26, 0.58, 1);
      opacity: 1;
    }

    &_exiting,
    &_exited {
      --navbar-animate-opacity-fn: cubic-bezier(0.4, 0, 1, 1);
      position: absolute;
      opacity: 0;
    }

    &_entering {
      position: absolute;
    }
  }
}
