.che--TileMenuList {
  display: grid;
  overflow: auto;

  &_view {
    &_cards {
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: var(--space-2xs);
      grid-column-gap: var(--space-2xs);
    }

    &_lines {
      grid-template-columns: repeat(1, 1fr);
    }

    &_twoLines {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: calc(var(--space-xl) + var(--space-2xs));
    }
  }
}
